<head>
    <title>Fun with JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel = "stylesheet" href = "style.css">
	<!-- <script src = "script.js"></script> -->
	<script src="script_1.js"></script>
	<!-- <script src="script_2.js"></script> -->
	<!-- <script src="script_3.js"></script> -->
	<!-- <script src="classes/scriptclass.js"></script> -->
</head>
<body>
    <div class="form">
	  <div>
		<label for="name">First Name: </label>
		<input name="name" id="firstName" />
	  </div>
	  <div id = "formlastName">
		<label for="lastName">Last Name: </label>
		<input name="lastName" id="lastName" />
	  </div>
	  <div>
		<label for="gender">Gender: </label>
		<input type="radio" id="male" name="gender" value="male" checked>Male
		<input type="radio" id="female" name="gender" value="female">Female
		<input type="radio" id="other" name="gender" value="other">Other
	  </div>
	  <button id="button" onclick = "displayDetails()"><b>Show my details</b></button>
	</div>
  <div id="details"></div>
</body>
</html>